    <section class="home" id="home">
        <div class="content">
            <h3>fresh coffee in the morning</h3>
            <p>our fresh coffee gonna wake u up leigge good smash in the face, motherf***er!
                it's like dope but legal
            </p>
            <a href="#" class="btn">get your dose now</a>
        </div>
    </section>

    <section class="about" id="about">

        <h1 class="heading"><span>about</span> us </h1>

        <div class="row">

            <div class="image">
                <img src="/public/images/about-img.jpeg" alt="">
            </div>

            <div class="content">
                <h3>what makes our coffee special?</h3>
                <p>Our coffee pushes your feelings and gets you into
                    a great feeling of strongness and extasy. You can
                    work all night and day and never get tired, if you
                    drink enough of our coffee.
                </p>
                <p>Even your code works the first time you try.</p>
                <a href="#" class="btn">learn more</a>
            </div>

        </div>

    </section>
    
    <section class="menu" id="menu">

        <h1 class="heading"> our <span>menu</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="/public/images/menu-1.png" alt="">
                <h3>Latte Macchiato</h3>
                <div class="price">$2.90 <span>$3.90</span> </div>
                <a href="/myCard/save/1" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="/public/images/menu-2.png" alt="">
                <h3>Espresso Macchiato</h3>
                <div class="price">$2.90 <span>$3.90</span> </div>
                <a href="/myCard/save/2" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="/public/images/menu-3.png" alt="">
                <h3>Espresso</h3>
                <div class="price">$1.90 <span>$2.50</span> </div>
                <a href="/myCard/save/3" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="/public/images/menu-4.png" alt="">
                <h3>Capuccino</h3>
                <div class="price">$3.00 <span>$4.00</span> </div>
                <a href="/myCard/save/4" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="/public/images/menu-5.png" alt="">
                <h3>Café con leche</h3>
                <div class="price">$1.90 <span>$2.50</span> </div>
                <a href="/myCard/save/5" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="/public/images/menu-6.png" alt="">
                <h3>Caffee Coretto</h3>
                <div class="price">$3.00 <span>$3.50</span> </div>
                <a href="/myCard/save/6" class="btn">add to cart</a>
            </div>

        </div>

    </section>

    <section class="products" id="products">

        <h1 class="heading">our <span>products</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/public/images/product-1.png" alt="">
                </div>
                <div class="content">
                    <h3>fresh coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$15.99 <span>$20.99</span></div>
                </div>
            </div>


            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/public/images/product-2.png" alt="">
                </div>
                <div class="content">
                    <h3>fresh coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$15.99 <span>$20.99</span></div>
                </div>
            </div>


            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/public/images/product-3.png" alt="">
                </div>
                <div class="content">
                    <h3>fresh coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$15.99 <span>$20.99</span></div>
                </div>
            </div>


        </div>

    </section>

    <section class="review" id="review">

        <h1 class="heading"> customer's <span>review</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="/public/images/quote-img.png" alt="" class="quote">
                <p>Really good coffe, it makes me so strong and wakes me up so fast</p>
                <img src="/public/images/pic-1.png" class="user" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="/public/images/quote-img.png" alt="" class="quote">
                <p>Really good coffe, it makes me so strong and wakes me up so fast</p>
                <img src="/public/images/pic-2.png" class="user" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="/public/images/quote-img.png" alt="" class="quote">
                <p>Really good coffe, it makes me so strong and wakes me up so fast</p>
                <img src="/public/images/pic-3.png" class="user" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </section>

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>

        <div class="row">

            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.6696116098233!2d6.77676012665462!3d51.224938188284135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8ca187e2fdd19%3A0x2ea2e040bfbfe1a!2sHeinrich-Heine-Allee%2C%2040213%20D%C3%BCsseldorf!5e0!3m2!1sde!2sde!4v1638155745723!5m2!1sde!2sde"
                allowfullscreen="" loading="lazy">
            </iframe>

            <form action="">
                <h3>get in touch</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="name">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="email">
                </div>
                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="number" placeholder="number">
                </div>
                <input type="submit" value="contact now" class="btn">
            </form>

        </div>

    </section>

    <section class="blogs" id="blogs">

        <h1 class="heading">our <span>blogs</span></h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="/public/images/blog-1.jpeg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">tasty and refreshing coffee</a>
                    <span>by admin / 21st may, 2021</span>
                    <p>Why is our coffee so tasty and refreshing? It seems like we would have
                        put something inside which we have kept secret to you? Well, we would not
                        tell you the recepie and all the ingredients which we have used. We can ashure
                        you, though, there is nothing inside which is illegal or could be unhealthy for you.
                        So, do not have doubts! Come in and enjoy...
                    </p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/public/images/blog-2.jpeg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">tasty and refreshing coffee</a>
                    <span>by admin / 21st may, 2021</span>
                    <p>Why is our coffee so tasty and refreshing? It seems like we would have
                        put something inside which we have kept secret to you? Well, we would not
                        tell you the recepie and all the ingredients which we have used. We can ashure
                        you, though, there is nothing inside which is illegal or could be unhealthy for you.
                        So, do not have doubts! Come in and enjoy...
                    </p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/public/images/blog-3.jpeg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">tasty and refreshing coffee</a>
                    <span>by admin / 21st may, 2021</span>
                    <p>Why is our coffee so tasty and refreshing? It seems like we would have
                        put something inside which we have kept secret to you? Well, we would not
                        tell you the recepie and all the ingredients which we have used. We can ashure
                        you, though, there is nothing inside which is illegal or could be unhealthy for you.
                        So, do not have doubts! Come in and enjoy...
                    </p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

        </div>

    </section>

    <section class="footer">

        <div class="shar">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="links">
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">products</a>
            <a href="#">review</a>
            <a href="#">contact</a>
            <a href="#">blogs</a>
        </div>

        <div class="credit">created by <span>mr. web designer</span> | all rights reserved</div>

    </section>












